#cardBox {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

form {
  margin: auto;
  max-width: 300px;
  text-align: center;
}

form input,
select,
textarea {
  margin-bottom: 10px;
}
